.header {
  height: 650px;
  width: 100%;
  background: url(../assets/background.jpg) no-repeat 50% 50%;
}
.header__container {
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__links {
  width: 100%;
  height: auto;
}
.header__promo {
  color: #eaf8ff;
  margin: 0 auto;
  padding-top: 150px;
  width: 900px;
  height: 500px;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  line-height: 72px;
}

.links__nav {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.links__nav::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 650px;
  background-color: #ede5d8;
  top: 50px;
}
.links__nav::before {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 650px;
  background-color: #ede5d8;
  bottom: 50px;
}

.showcase {
  width: 100%;
  height: 960px;
}
.showcase__h1 {
  width: 900px;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.first-el {
  width: 340px;
  height: 600px;
  border-left: 1px solid grey;
  margin: 0;
  padding: 30px;
  position: relative;
}
.first-el__table {
  position: absolute;
  top: 0px;
  right: 0px;
}
.first-el__table table {
  font-size: 14px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
}
.first-el__structure {
  position: absolute;
  border-top: 1px solid gray;
  padding-top: 18px;
  width: 150px;
  font-size: 14px;
  line-height: 20px;
  right: 0px;
  top: 60px;
}
.first-el__container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-el__white-brown-button {
  color: #834700;
  width: 142px;
  height: 42px;
  font-size: 14px;
  border: 2px solid #834700;
}
.first-el__brown-white-button {
  color: #eaf8ff;
  background-color: #834700;
  width: 106px;
  height: 46px;
  font-size: 14px;
}
.first-el__h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0;
}
.first-el__p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  height: 52px;
}

.second-el {
  width: 340px;
  height: 600px;
  border-left: 1px solid gray;
  margin: 0;
  padding: 30px;
  position: relative;
  border-right: 1px solid grey;
}
.second-el__table {
  position: absolute;
  top: 0px;
  right: 0px;
}
.second-el__table table {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
}
.second-el__structure {
  position: absolute;
  border-top: 1px solid gray;
  padding-top: 18px;
  width: 150px;
  font-size: 14px;
  line-height: 20px;
  right: 0px;
  top: 60px;
}
.second-el__container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-el__white-brown-button {
  color: #834700;
  width: 142px;
  height: 42px;
  font-size: 14px;
  border: 2px solid #834700;
}
.second-el__brown-white-button {
  color: #eaf8ff;
  background-color: #834700;
  width: 106px;
  height: 46px;
  font-size: 14px;
}
.second-el__h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0;
}
.second-el__p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  height: 52px;
}

.promo {
  width: 100%;
  height: 400px;
  background-color: #ffcb78;
}
.promo__container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__container li {
  padding: 0 40px;
  position: relative;
  display: block;
  line-height: 26px;
  width: 220px;
  height: 230px;
}
.promo__container li h2 {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding-left: 6px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}
.promo__container li p {
  display: block;
  color: #434446;
  padding-left: 6px;
}

.assortment {
  width: 100%;
  height: 630px;
}
.assortment__h1 {
  width: 900px;
  margin: 0 auto;
}
.assortment__table {
  width: 900px;
  margin: 0 auto;
}
.assortment__table table {
  width: 900px;
  border-collapse: collapse;
  text-transform: uppercase;
}
.assortment__table table tr {
  border-bottom: 1px solid #e5e5e5;
}
.assortment__table table td {
  text-align: center;
  padding: 18px 0;
}
.assortment__table table .assortment__left {
  text-align: left;
  font-weight: bold;
}
.assortment__table table .assortment__right {
  text-align: right;
}
.assortment__table table sup {
  color: #eaf8ff;
  font-size: 8px;
  background-color: #000001;
  margin-left: 20px;
  padding: 2px 5px;
}
.assortment__table table thead {
  color: #b7b7b7;
  font-size: 12px;
}
.assortment__table table thead td {
  padding-bottom: 40px;
  font-weight: inherit;
}

.feedback {
  width: 100%;
  height: 480px;
  background-color: #ede5d8;
}
.feedback__h1 {
  width: 900px;
  margin: 0 auto;
}
.feedback__container {
  width: 900px;
  margin: 0 auto;
}
.feedback__blockquote {
  width: 690px;
}
.feedback__container {
  padding: 40px 0;
}
.feedback__container button {
  color: #c0b8ad;
  border: 2px solid #a69f95;
  padding: 14px;
}
.feedback__container cite {
  padding-left: 270px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.history {
  width: 100%;
  height: 680px;
}
.history__h1 {
  width: 900px;
  margin: 0 auto;
}

.container__flex-first-el {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container__flex-sec-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.container__first-col {
  padding-bottom: 30px;
}
.container__first-col p {
  display: block;
  width: 490px;
  padding-right: 100px;
}
.container__second-col {
  padding-bottom: 30px;
}
.container__second-col a {
  color: #834700;
}
.container__second-col img {
  padding-left: 115px;
}

.order {
  width: 100%;
  height: 1090px;
  background-color: #ffcb78;
}
.order__submit {
  padding-top: 20px;
  padding-left: 200px;
}
.order__submit input[type=submit] {
  text-align: center;
  vertical-align: middle;
  color: #fff;
  width: 204px;
  text-transform: uppercase;
  height: 55px;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
  background: #834700;
}
.order__h1 {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.order__p {
  width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 32px;
  color: #414342;
  margin-bottom: 70px;
}
.order__p p {
  display: block;
  width: 650px;
}
.order__form {
  width: 900px;
  margin: 0 auto;
}
.order__comment {
  vertical-align: top;
}
.order__input-field {
  margin-bottom: 10px;
}
.order__input-field .order input[placeholder],
.order__input-field .order select option,
.order__input-field .order select[placeholder],
.order__input-field .order textarea[placeholder] {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 50px;
  padding-left: 20px;
}
.order__input-field ::-webkit-input-placeholder {
  color: #b49157;
}
.order__input-field ::-moz-placeholder {
  color: #b49157;
}
.order__input-field :-ms-input-placeholder {
  color: #b49157;
}
.order__input-field ::-ms-input-placeholder {
  color: #b49157;
}
.order__input-field ::placeholder {
  color: #b49157;
}
.order__input-field label {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 50px;
  width: 200px;
}
.order__input-field input {
  color: #000001;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 50px;
  padding-left: 20px;
  width: 580px;
  background: #e6b66c;
  border: none;
}
.order__input-field select {
  width: 600px;
  height: 50px;
  background: #e6b66c;
  border: none;
  font-weight: 700;
  padding: 0 0 0 20px;
  text-transform: uppercase;
  color: #b49157;
}
.order__input-field textarea {
  width: 560px;
  background: #e6b66c;
  color: #000001;
  padding: 20px;
  font-size: 16px;
}
.order__input-field__comment {
  -webkit-transform: translateY(-188px);
          transform: translateY(-188px);
}
.order__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__flex input {
  width: 180px;
}
.order__flex__extra-num {
  text-align: center;
  width: 196px !important;
}
.order__email-margin {
  margin-bottom: 60px;
}
.order__checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 160px;
  margin-bottom: 20px;
}
.order__checkbox-field input[type=checkbox] {
  margin-right: 10px;
  -webkit-transform: scale(3.6) translateX(16px) translateY(4px);
          transform: scale(3.6) translateX(16px) translateY(4px);
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.order__checkbox-field .check + .label {
  margin-left: 24px;
  height: 100%;
  width: 500px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.order__checkbox-field .check + .label::before {
  content: "";
  display: inline-block;
  width: 40px;
  margin-right: 40px;
  height: 40px;
  line-height: 20px;
  background: #e6b66c;
  cursor: pointer;
}
.order__checkbox-field label {
  position: relative;
}
.order__checkbox-field .new-check {
  position: relative;
}
.order__checkbox-field .new-check::after, .order__checkbox-field .new-check::before {
  content: "";
  position: absolute;
  top: 20px;
  z-index: 1;
  left: 58px;
  width: 20px;
  height: 3px;
  background: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
}
.order__checkbox-field .new-check:before {
  top: 23px;
  left: 54px;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.order__checkbox-field .checkbox:checked ~ .new-check::after,
.order__checkbox-field .checkbox:checked ~ .new-check::before {
  display: block;
}

.footer {
  width: 100%;
  height: 300px;
  color: #7d7d7d;
  background-color: #000001;
}
.footer__container {
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.footer__links {
  width: 100%;
  height: auto;
}
.footer__links__nav {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1030px;
}
.footer__bottom-bar__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  padding-left: 20px;
}
.footer__bottom-bar__copyright {
  width: 200px;
  font-size: 14px;
  line-height: 20px;
  margin: 14px;
  padding: 0 200px 0 90px;
}
.footer__bottom-bar__html-academy-logo {
  position: relative;
  margin-right: 25px;
  width: 75px;
  height: 68px;
  line-height: 68px;
  background: #1b1b1b;
  margin: auto 0;
}
.footer__bottom-bar__html-academy-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.footer__bottom-bar__layout-author {
  font-size: 12px;
  margin: auto 0;
  padding-left: 25px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

nav, footer, header, section {
  display: block;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 100px 0 60px 0;
}

html, body {
  height: 100%;
}

button {
  cursor: pointer;
  background-color: inherit;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

ul li {
  list-style: none;
}

body {
  min-width: 1200px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: white;
}